.page {
  display: grid;

  grid-column: span 5;
  grid-row: 2;
  grid-template-columns: auto 30%; 
  grid-template-rows: auto;  

}

.content {
  grid-column: 1;
  grid-row: 1;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  margin: 10px;
  border: 1px solid black;
}