@import 'sidebar';
@import 'page';
@import 'navbar';
@import 'modal';
@import 'table';

#root {
  width: 100%;
  display: grid;
  grid-gap: 5px;
  margin: 0;
  grid-template-columns: 1% 65% auto 1%;
  grid-template-rows: auto auto auto;
}

body { 
  margin: 0;
  background-color: lighten(lightgrey, 8%);
}

.active {
  background-color: #4CAF50;
}

button {
  color: #aaa;
  font-size: 18px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

